.message{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.messageTop{
    display: flex;
    gap:10px;
}
.messageImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.messageText{
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: #fff;
    max-width: 300px;
}
.messageBottom{
    font-size: 12px;
    margin-top: 4px;
}
.message.own{
    align-items: flex-end;
}
.message.own .messageText{
    background-color: var(--bg-third);
    color: var(--color-primary);
}